<h2>En tiempo real</h2>

<form action="/realtime" method="POST" enctype="multipart/form-data">

<div>
    <input type="text" name="title">
</div>
<div>
    <input type="text" name="description">
</div>
<div>
    <input type="text" name="code">
</div>
<div>
    <input type="text" name="price">
</div>
<div>
    <input type="text" name="status">
</div>
<div>
    <input type="text" name="stock">
</div>
<div>
    <input type="text" name="category">
</div>
<div>
    <input type="text" name="thumbnail">
</div>

<div>
    <button>Publicar</button>
</div>
</form>