<h2>En tiempo real</h2>

<form action="/realtime" method="POST" enctype="multipart/form-data">

<div>
    <label for="title">Nombre</label>
    <input type="text" name="title" id="title">
</div>
<div>
    <label for="description">Descripción</label>
    <input type="text" name="description" id="description">
</div>
<div>
    <label for="code">Codigo</label>
    <input type="text" name="code" id="code">
</div>
<div>
    <label for="price">Precio</label>
    <input type="text" name="price" id="price">
</div>
<div>
    <label for="status">Estado</label>
    <input type="text" name="status" id="status">
</div>
<div>
    <label for="stock">Stock</label>
    <input type="text" name="stock" id="stock">
</div>
<div>
    <label for="category">Categoria</label>
    <input type="text" name="category" id="category">
</div> 
<div>
    <label for="thumbnail">Thumbnail</label>
    <input type="text" name="thumbnail" id="thumbnail">
</div>

<div>
    <button>Publicar</button>
</div>
</form>