<nav class="nav">
    <a href="/login" class="nav-enlaces">Iniciar sesión</a>
    <a href="/carts" class="nav-enlaces">Carrito</a>
    <a href="/products" class="nav-enlaces">Productos</a>
    <a href="/chat" class="nav-enlaces">Chat</a>
    <a href="/createproduct" class="nav-enlaces">Crear Producto</a>
</nav>